.deps
.libs
.*.swp
ac*m4
autom4te.cache
build
config.guess
config.h
config.h.*
config.log
config.nice
config.status
config.sub
configure*
install-sh
libtool
ltmain.sh
Makefile*
missing
mkinstalldirs
run-tests.php
*.o
*.la
*.lo
*.so
lib/test/basic
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh
